.container{
  padding: 0px;
}
.navbar{
  border-bottom: 2px solid #8080805c;
  padding: 0px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 50px;
  
}

.nav-link{
  font-size: larger;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 15px 2px;
  
}

 .underline:focus, 
 .underline:focus-within, 
 .underline:hover {
  color:#704ECC;
  border-bottom: 2px solid #704ECC;
}

.nav-item{
  padding-right: 30px;
}

.alina-logo{
  color: #704ECD;
  font-weight: 600;
  vertical-align: middle;
  letter-spacing: 3px;
}

.google-logo {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 3px 1px #dee2e6;
  border: none;
  padding: 7px;
}
.google-logo-text {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 10px;
  vertical-align: middle;
  color: #704ECD;
}

h3{
  font-weight: 700;
  margin-top: 50px;
}

small{
  font-weight: 700;
  margin-left: 10px;
  vertical-align: middle;
}
.text-right{
  text-align: right;
}

.heading-stock{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: 700;
}

.text-right p{
  margin-bottom:0px;
  font-weight: 700;
}

.usd{
  margin-left: 0px
}

.row{
  border-bottom: 3px solid #a9a9a93d;
  padding-bottom: 10px;
  margin: 0px;
}

.col-6 {
  padding: 0px;
  /* align-self: center; */
  
}

.search-input {
    height: 66px;
    width: 1080px;
    background-color: #F8F8F8;
    border-radius: 23px;
    padding: 5px 20px;
    box-shadow: 0px 0px 10px 0px #adb5bd;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchbar{
  margin-top: 50px;
  position: relative;
}

.searchbar .cross-button{
  position: absolute;
  left: 87%;
  top: 25%;
}
.searchbar .search-button{
  position: absolute;
  left: 93%;
  top: 28%;
}

.vl {
  border-left: 6px solid green;
  height: 50px;
}

.login{
  height: 350px;
  width: 750px;
  margin: auto;
  margin-top: 100px;
  position: absolute;
    top: 100px;
    right: 380px;
}

.login-row1{
  background-color: #AE42C9;
  height: 350px;
  color: #ffffff;
  border-radius: 30px 0px 0px 30px;
  position: relative;
}

.login-row1 p {
  font-size: 2.8rem;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
  left: 20px;
}
.login-row2{
  background-color:#b9b9b9;;
  height: 350px;
  border-radius: 0px 30px 30px 0px;
}

.box-background{
  background-color:rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.line{
  position: absolute;
    width: 44px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: rotate(-90deg);
    right: 7%;
    top: 46%;
}

.firebaseui-idp-button{
  background: #FFFFFF;
border: 1px solid #E9D6F4;
box-sizing: border-box;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
border-radius: 30px;
}